Import Packages

In [45]:
import pandas as pd

# IMPORT THESE PACKAGES BELOW IF IT IS THE FIRST RUNTIME
# !pip install watermark
# !pip install ipympl

# Enable scrolling for the entire notebook
%load_ext watermark
%watermark -v -p pandas
# Enable interactive scrolling for the entire notebook
%matplotlib widget

The watermark extension is already loaded. To reload it, use:
  %reload_ext watermark
Python implementation: CPython
Python version       : 3.10.12
IPython version      : 7.34.0

pandas: 1.5.3

read CSVs

In [50]:
df_newdata = pd.read_csv('/content/annual_aqi_by_county_2023.csv')
df_given = pd.read_csv('/content/Short Paper-Data.csv')

In [51]:
pd_data = df_newdata
#Consolidate rows based upon
pd_data['Median AQI'] = pd_data.groupby('State')['Median AQI'].transform('mean')

# Drop duplicates to keep only unique state rows
pd_data = pd_data.drop_duplicates(subset=['State'])
pd_data

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
0,Alabama,Baldwin,2023,170,143,27,0,0,0,0,90,54,42.285714,0,0,84,86,0
14,Alaska,Anchorage,2023,182,166,16,0,0,0,0,71,49,24.000000,8,0,0,76,98
19,Arizona,Apache,2023,272,271,1,0,0,0,0,61,24,42.307692,0,0,0,10,262
32,Arkansas,Arkansas,2023,90,71,19,0,0,0,0,78,59,38.454545,0,0,0,90,0
43,California,Alameda,2023,213,170,35,8,0,0,0,104,62,41.060000,2,18,137,56,0
93,Colorado,Adams,2023,267,152,110,3,2,0,0,168,74,40.916667,0,30,151,49,37
117,Connecticut,Fairfield,2023,181,131,41,5,3,1,0,217,77,41.500000,0,9,98,73,1
125,Country Of Mexico,SONORA,2023,273,153,114,6,0,0,0,126,76,47.000000,0,0,125,57,91
126,District Of Columbia,District of Columbia,2023,244,156,77,8,3,0,0,184,80,46.000000,1,11,178,54,0
127,Florida,Alachua,2023,181,155,26,0,0,0,0,87,54,40.105263,0,0,115,66,0
165,Georgia,Bibb,2023,229,140,85,3,1,0,0,155,71,41.392857,0,0,52,177,0
193,Hawaii,Hawaii,2023,226,220,6,0,0,0,0,68,35,22.000000,0,0,0,226,0
196,Idaho,Ada,2023,182,153,28,1,0,0,0,101,54,26.444444,1,10,149,22,0
214,Illinois,Adams,2023,214,157,45,12,0,0,0,136,84,46.000000,0,0,214,0,0
237,Indiana,Allen,2023,239,182,52,5,0,0,0,129,77,42.151515,0,0,239,0,0
270,Iowa,Black Hawk,2023,269,166,96,4,3,0,0,177,66,42.000000,0,0,0,269,0
286,Kansas,Ford,2023,180,165,14,1,0,0,0,147,48,39.500000,0,0,0,0,180
296,Kentucky,Bell,2023,181,122,57,2,0,0,0,131,68,43.000000,0,0,75,106,0
321,Louisiana,Ascension,2023,271,224,44,2,1,0,0,154,61,39.636364,0,9,262,0,0
343,Maine,Androscoggin,2023,271,247,24,0,0,0,0,74,49,37.272727,0,0,171,100,0
354,Maryland,Anne Arundel,2023,222,184,36,2,0,0,0,150,61,42.937500,0,0,213,0,9
370,Massachusetts,Barnstable,2023,173,160,11,2,0,0,0,140,49,40.230769,0,0,173,0,0
383,Michigan,Allegan,2023,181,130,37,11,3,0,0,181,87,42.576923,0,0,102,79,0
409,Minnesota,Anoka,2023,181,119,47,13,2,0,0,168,100,38.950000,0,6,135,40,0
429,Mississippi,Bolivar,2023,180,122,55,3,0,0,0,126,70,42.500000,0,0,69,111,0
439,Missouri,Andrew,2023,91,39,46,6,0,0,0,122,97,48.052632,0,0,91,0,0
458,Montana,Beaverhead,2023,177,174,1,2,0,0,0,124,20,30.333333,0,0,0,177,0
476,Nebraska,Cass,2023,269,267,2,0,0,0,0,66,31,31.000000,0,0,0,0,269
485,Nevada,Carson City,2023,180,128,52,0,0,0,0,97,64,37.555556,0,0,152,28,0
494,New Hampshire,Belknap,2023,181,168,13,0,0,0,0,87,48,40.714286,0,0,112,69,0
501,New Jersey,Atlantic,2023,181,155,21,3,2,0,0,195,54,41.333333,0,0,122,59,0
516,New Mexico,Bernalillo,2023,182,43,130,4,4,1,0,207,87,43.363636,1,5,96,17,63
527,New York,Albany,2023,266,212,47,4,3,0,0,177,61,37.333333,0,0,154,112,0
554,North Carolina,Alexander,2023,242,215,26,1,0,0,0,105,51,41.882353,0,0,183,0,59
588,North Dakota,Billings,2023,212,172,32,6,1,1,0,201,67,42.777778,0,0,173,39,0
597,Ohio,Allen,2023,243,175,60,5,3,0,0,183,77,42.594595,0,0,151,92,0
634,Oklahoma,Adair,2023,182,122,60,0,0,0,0,100,61,45.850000,1,0,106,73,2
654,Oregon,Baker,2023,210,205,5,0,0,0,0,62,34,25.142857,0,0,0,210,0
675,Pennsylvania,Adams,2023,244,166,69,5,3,1,0,216,80,43.611111,25,7,141,71,0
711,Puerto Rico,Bayamon,2023,69,65,4,0,0,0,0,71,38,25.250000,0,0,19,50,0
719,Rhode Island,Kent,2023,181,163,14,4,0,0,0,126,50,39.000000,0,0,109,72,0
722,South Carolina,Aiken,2023,237,214,23,0,0,0,0,80,50,41.357143,0,0,237,0,0
736,South Dakota,Brookings,2023,181,134,43,3,1,0,0,155,74,37.900000,0,0,163,15,3
746,Tennessee,Anderson,2023,117,95,21,1,0,0,0,105,64,38.739130,0,0,117,0,0
769,Texas,Atascosa,2023,166,120,46,0,0,0,0,85,65,38.886364,0,0,0,166,0
813,Utah,Box Elder,2023,176,155,21,0,0,0,0,67,51,47.571429,0,34,142,0,0
827,Vermont,Bennington,2023,180,158,18,2,2,0,0,156,51,40.000000,0,0,157,23,0
830,Virginia,Albemarle,2023,180,139,37,1,3,0,0,164,68,34.633333,0,0,89,91,0
860,Washington,Adams,2023,181,177,4,0,0,0,0,73,23,24.103448,0,0,0,181,0
889,West Virginia,Berkeley,2023,138,105,28,5,0,0,0,135,71,38.846154,0,0,116,22,0
902,Wisconsin,Ashland,2023,181,149,27,5,0,0,0,115,70,44.103448,0,0,145,36,0
931,Wyoming,Albany,2023,212,103,107,2,0,0,0,132,74,38.111111,0,0,184,3,25

In [59]:
selected_columns = ['State', 'Median AQI']
pd_data_subset = pd_data[selected_columns].copy()

#Round to three decimal places
pd_data_subset['Median AQI']=pd_data_subset['Median AQI'].round(3)

df_newdata = pd_data_subset

df_newdata

                    State  Median AQI
0                 Alabama      42.286
14                 Alaska      24.000
19                Arizona      42.308
32               Arkansas      38.455
43             California      41.060
93               Colorado      40.917
117           Connecticut      41.500
125     Country Of Mexico      47.000
126  District Of Columbia      46.000
127               Florida      40.105
165               Georgia      41.393
193                Hawaii      22.000
196                 Idaho      26.444
214              Illinois      46.000
237               Indiana      42.152
270                  Iowa      42.000
286                Kansas      39.500
296              Kentucky      43.000
321             Louisiana      39.636
343                 Maine      37.273
354              Maryland      42.938
370         Massachusetts      40.231
383              Michigan      42.577
409             Minnesota      38.950
429           Mississippi      42.500
439              Missouri      48.053
458               Montana      30.333
476              Nebraska      31.000
485                Nevada      37.556
494         New Hampshire      40.714
501            New Jersey      41.333
516            New Mexico      43.364
527              New York      37.333
554        North Carolina      41.882
588          North Dakota      42.778
597                  Ohio      42.595
634              Oklahoma      45.850
654                Oregon      25.143
675          Pennsylvania      43.611
711           Puerto Rico      25.250
719          Rhode Island      39.000
722        South Carolina      41.357
736          South Dakota      37.900
746             Tennessee      38.739
769                 Texas      38.886
813                  Utah      47.571
827               Vermont      40.000
830              Virginia      34.633
860            Washington      24.103
889         West Virginia      38.846
902             Wisconsin      44.103
931               Wyoming      38.111

Join CSVs

In [85]:
merged_df=pd.merge(df_given, df_newdata, on='State', how='left')

# Drop the "Unnamed: 10" column if it exists
merged_df = merged_df.drop(columns=['Unnamed: 10'], errors='ignore')

#Print which "States" were not in the given dataset
# (Left field) that were in the new dataset
print('These states were unique to the new data and were not included:')
unique_states_right = df_newdata.loc[~df_newdata['State'].isin(df_given['State']), 'State'].unique()
print(unique_states_right)

# Drop the unique rows as they are not in the given dataframe
merged_df = merged_df.head(-3)

These states were unique to the new data and were not included:
['Country Of Mexico' 'District Of Columbia' 'Puerto Rico']

In [86]:
merged_df

,State,"Age adjusted mortality, 2021","Obesity, %, 2021","Poverty, 2021, kff","Median annual income, 2021","Uninsured, 2021, %",West,South,Midwest,Northeast,Median AQI
0,Alabama,1134.2,39.9,16.0,53913.0,12.0,0.0,1.0,0.0,0.0,42.286
1,Alaska,931,33.5,11.0,77845.0,12.1,1.0,0.0,0.0,0.0,24.000
2,Arizona,908.5,31.3,12.9,69056.0,12.8,1.0,0.0,0.0,0.0,42.308
3,Arkansas,1097.8,38.7,16.4,52528.0,11.0,0.0,1.0,0.0,0.0,38.455
4,California,760.4,27.6,12.3,84907.0,8.1,1.0,0.0,0.0,0.0,41.060
5,Colorado,799,25.1,9.9,82254.0,9.3,1.0,0.0,0.0,0.0,40.917
6,Connecticut,725.1,30.4,10.1,83771.0,6.1,0.0,0.0,0.0,1.0,41.500
7,Delaware,867,33.9,11.2,71091.0,7.0,0.0,1.0,0.0,0.0,NaN
8,District of Columbia,868.5,24.7,16.5,90088.0,4.1,0.0,1.0,0.0,0.0,NaN
9,Florida,832.9,27.9,13.2,63062.0,15.1,0.0,1.0,0.0,0.0,40.105
10,Georgia,997.6,33.9,14.1,66559.0,14.8,0.0,1.0,0.0,0.0,41.393
11,Hawaii,630,25.0,11.3,84857.0,4.4,1.0,0.0,0.0,0.0,22.000
12,Idaho,881,31.6,11.2,66474.0,10.2,1.0,0.0,0.0,0.0,26.444
13,Illinois,825.3,34.2,12.0,72205.0,8.1,0.0,0.0,1.0,0.0,46.000
14,Indiana,999.3,36.3,12.1,62743.0,8.8,0.0,0.0,1.0,0.0,42.152
15,Iowa,841.8,36.4,11.1,65600.0,6.0,0.0,0.0,1.0,0.0,42.000
16,Kansas,915,36.0,12.0,64124.0,11.0,0.0,0.0,1.0,0.0,39.500
17,Kentucky,1139.6,40.3,16.5,55573.0,6.7,0.0,1.0,0.0,0.0,43.000
18,Louisiana,1094.6,38.6,19.6,52087.0,8.9,0.0,1.0,0.0,0.0,39.636
19,Maine,889.4,31.9,12.2,64767.0,6.9,0.0,0.0,0.0,1.0,37.273
20,Maryland,805.5,34.3,10.2,90203.0,7.1,0.0,1.0,0.0,0.0,42.938
21,Massachusetts,721.4,27.4,10.4,89645.0,2.9,0.0,0.0,0.0,1.0,40.231
22,Michigan,943.1,34.4,13.3,63498.0,6.2,0.0,0.0,1.0,0.0,42.577
23,Minnesota,756.5,32.4,8.9,77720.0,5.1,0.0,0.0,1.0,0.0,38.950
24,Mississippi,1204.5,39.1,19.4,48716.0,14.3,0.0,1.0,0.0,0.0,42.500
25,Missouri,971.9,37.3,12.7,61847.0,11.2,0.0,0.0,1.0,0.0,48.053
26,Montana,909.9,31.8,11.3,63249.0,9.9,1.0,0.0,0.0,0.0,30.333
27,Nebraska,818.6,35.9,10.3,66817.0,8.3,0.0,0.0,1.0,0.0,31.000
28,Nevada,937.3,31.3,14.1,66274.0,13.4,1.0,0.0,0.0,0.0,37.556
29,New Hampshire,782.9,30.6,7.0,88465.0,6.0,0.0,0.0,0.0,1.0,40.714
30,New Jersey,731.1,28.2,10.3,89296.0,8.4,0.0,0.0,0.0,1.0,41.333
31,New Mexico,995.5,34.6,18.7,53992.0,12.1,1.0,0.0,0.0,0.0,43.364
32,New York,713.1,29.1,13.9,74314.0,6.2,0.0,0.0,0.0,1.0,37.333
33,North Carolina,960,36.0,13.7,71972.0,12.4,0.0,1.0,0.0,0.0,41.882
34,North Dakota,794.2,35.2,9.8,66519.0,9.0,0.0,0.0,1.0,0.0,42.778
35,Ohio,1012.8,37.8,13.3,62262.0,7.8,0.0,0.0,1.0,0.0,42.595
36,Oklahoma,1121.1,39.4,15.5,55826.0,16.3,0.0,1.0,0.0,0.0,45.850
37,Oregon,861,30.4,12.5,71562.0,7.4,1.0,0.0,0.0,0.0,25.143
38,Pennsylvania,895,33.3,12.2,68957.0,6.6,0.0,0.0,0.0,1.0,43.611
39,Rhode Island,781.3,30.1,11.5,74008.0,5.1,0.0,0.0,0.0,1.0,39.000
40,South Carolina,1038.1,36.1,14.9,59318.0,12.2,0.0,1.0,0.0,0.0,41.357
41,South Dakota,858.9,38.4,12.5,66143.0,11.4,0.0,0.0,1.0,0.0,37.900
42,Tennessee,1121.3,35.0,13.7,59695.0,12.1,0.0,1.0,0.0,0.0,38.739
43,Texas,942.1,36.1,14.3,66963.0,20.5,0.0,1.0,0.0,0.0,38.886
44,Utah,815.8,30.9,8.2,79449.0,10.2,1.0,0.0,0.0,0.0,47.571
45,Vermont,791.2,29.0,10.4,72431.0,4.2,0.0,0.0,0.0,1.0,40.000
46,Virginia,866.5,34.2,10.3,80963.0,8.0,0.0,1.0,0.0,0.0,34.633
47,Washington,796.4,28.8,10.2,84247.0,7.6,1.0,0.0,0.0,0.0,24.103
48,West Virginia,1229.1,40.6,16.8,51248.0,7.7,0.0,1.0,0.0,0.0,38.846
49,Wisconsin,837,33.9,10.9,67125.0,6.4,0.0,0.0,1.0,0.0,44.103
50,Wyoming,954.7,32.0,11.4,65204.0,14.0,1.0,0.0,0.0,0.0,38.111

In [94]:
# states_to_drop = ['Delaware', 'District of Columbia']
# merged_df = merged_df[~merged_df['State'].isin(states_to_drop)]

states_to_drop = ['Delaware', 'District of Columbia']
merged_df = merged_df[~merged_df['State'].isin(states_to_drop)]
merged_df.reset_index(drop=True, inplace=True)

In [95]:
merged_df

,State,"Age adjusted mortality, 2021","Obesity, %, 2021","Poverty, 2021, kff","Median annual income, 2021","Uninsured, 2021, %",West,South,Midwest,Northeast,Median AQI
0,Alabama,1134.2,39.9,16.0,53913.0,12.0,0.0,1.0,0.0,0.0,42.286
1,Alaska,931,33.5,11.0,77845.0,12.1,1.0,0.0,0.0,0.0,24.000
2,Arizona,908.5,31.3,12.9,69056.0,12.8,1.0,0.0,0.0,0.0,42.308
3,Arkansas,1097.8,38.7,16.4,52528.0,11.0,0.0,1.0,0.0,0.0,38.455
4,California,760.4,27.6,12.3,84907.0,8.1,1.0,0.0,0.0,0.0,41.060
5,Colorado,799,25.1,9.9,82254.0,9.3,1.0,0.0,0.0,0.0,40.917
6,Connecticut,725.1,30.4,10.1,83771.0,6.1,0.0,0.0,0.0,1.0,41.500
7,Florida,832.9,27.9,13.2,63062.0,15.1,0.0,1.0,0.0,0.0,40.105
8,Georgia,997.6,33.9,14.1,66559.0,14.8,0.0,1.0,0.0,0.0,41.393
9,Hawaii,630,25.0,11.3,84857.0,4.4,1.0,0.0,0.0,0.0,22.000
10,Idaho,881,31.6,11.2,66474.0,10.2,1.0,0.0,0.0,0.0,26.444
11,Illinois,825.3,34.2,12.0,72205.0,8.1,0.0,0.0,1.0,0.0,46.000
12,Indiana,999.3,36.3,12.1,62743.0,8.8,0.0,0.0,1.0,0.0,42.152
13,Iowa,841.8,36.4,11.1,65600.0,6.0,0.0,0.0,1.0,0.0,42.000
14,Kansas,915,36.0,12.0,64124.0,11.0,0.0,0.0,1.0,0.0,39.500
15,Kentucky,1139.6,40.3,16.5,55573.0,6.7,0.0,1.0,0.0,0.0,43.000
16,Louisiana,1094.6,38.6,19.6,52087.0,8.9,0.0,1.0,0.0,0.0,39.636
17,Maine,889.4,31.9,12.2,64767.0,6.9,0.0,0.0,0.0,1.0,37.273
18,Maryland,805.5,34.3,10.2,90203.0,7.1,0.0,1.0,0.0,0.0,42.938
19,Massachusetts,721.4,27.4,10.4,89645.0,2.9,0.0,0.0,0.0,1.0,40.231
20,Michigan,943.1,34.4,13.3,63498.0,6.2,0.0,0.0,1.0,0.0,42.577
21,Minnesota,756.5,32.4,8.9,77720.0,5.1,0.0,0.0,1.0,0.0,38.950
22,Mississippi,1204.5,39.1,19.4,48716.0,14.3,0.0,1.0,0.0,0.0,42.500
23,Missouri,971.9,37.3,12.7,61847.0,11.2,0.0,0.0,1.0,0.0,48.053
24,Montana,909.9,31.8,11.3,63249.0,9.9,1.0,0.0,0.0,0.0,30.333
25,Nebraska,818.6,35.9,10.3,66817.0,8.3,0.0,0.0,1.0,0.0,31.000
26,Nevada,937.3,31.3,14.1,66274.0,13.4,1.0,0.0,0.0,0.0,37.556
27,New Hampshire,782.9,30.6,7.0,88465.0,6.0,0.0,0.0,0.0,1.0,40.714
28,New Jersey,731.1,28.2,10.3,89296.0,8.4,0.0,0.0,0.0,1.0,41.333
29,New Mexico,995.5,34.6,18.7,53992.0,12.1,1.0,0.0,0.0,0.0,43.364
30,New York,713.1,29.1,13.9,74314.0,6.2,0.0,0.0,0.0,1.0,37.333
31,North Carolina,960,36.0,13.7,71972.0,12.4,0.0,1.0,0.0,0.0,41.882
32,North Dakota,794.2,35.2,9.8,66519.0,9.0,0.0,0.0,1.0,0.0,42.778
33,Ohio,1012.8,37.8,13.3,62262.0,7.8,0.0,0.0,1.0,0.0,42.595
34,Oklahoma,1121.1,39.4,15.5,55826.0,16.3,0.0,1.0,0.0,0.0,45.850
35,Oregon,861,30.4,12.5,71562.0,7.4,1.0,0.0,0.0,0.0,25.143
36,Pennsylvania,895,33.3,12.2,68957.0,6.6,0.0,0.0,0.0,1.0,43.611
37,Rhode Island,781.3,30.1,11.5,74008.0,5.1,0.0,0.0,0.0,1.0,39.000
38,South Carolina,1038.1,36.1,14.9,59318.0,12.2,0.0,1.0,0.0,0.0,41.357
39,South Dakota,858.9,38.4,12.5,66143.0,11.4,0.0,0.0,1.0,0.0,37.900
40,Tennessee,1121.3,35.0,13.7,59695.0,12.1,0.0,1.0,0.0,0.0,38.739
41,Texas,942.1,36.1,14.3,66963.0,20.5,0.0,1.0,0.0,0.0,38.886
42,Utah,815.8,30.9,8.2,79449.0,10.2,1.0,0.0,0.0,0.0,47.571
43,Vermont,791.2,29.0,10.4,72431.0,4.2,0.0,0.0,0.0,1.0,40.000
44,Virginia,866.5,34.2,10.3,80963.0,8.0,0.0,1.0,0.0,0.0,34.633
45,Washington,796.4,28.8,10.2,84247.0,7.6,1.0,0.0,0.0,0.0,24.103
46,West Virginia,1229.1,40.6,16.8,51248.0,7.7,0.0,1.0,0.0,0.0,38.846
47,Wisconsin,837,33.9,10.9,67125.0,6.4,0.0,0.0,1.0,0.0,44.103
48,Wyoming,954.7,32.0,11.4,65204.0,14.0,1.0,0.0,0.0,0.0,38.111

Write to CSV

In [97]:
merged_df.to_csv('output_file.csv', index=False)